const path = require('path')

module.exports = {
    webpack: (config, { isServer }) => {
    // Fixes npm packages that depend on `fs` module
    if (!isServer) {
        config.resolve.fallback.fs = false
      }
    return config
  },
  images: {
    domains: ['your CH domain name'],
  },
  reactStrictMode: true,
  sassOptions: {
    includePaths: [path.join(__dirname, '../styles')],
  },
  //Fill up your Content Hub endpoint and OAuth credentials. Rename the file to next.config.js 
  serverRuntimeConfig: {
    // Will only be available on the server side
    contentHubEndPoint: '',
    contentHubAuth: {
      clientId: '',
      clientSecret: '',
      username: '',
      password: ''
    },
  },
}
